<h4>Add Post:</h4>
<div class="row-fluid">
	<div class="navbar-inner">
		{% if request.path =='/add/' %}
			<form action="{{ url_for('add_post_admin') }}" method=post>
		{% elif id %}
			<form action="/edit/{{id}}" method=post>
		{% else %}
			<form action="{{ url_for('profile') }}" method=post>
		{% endif %}
		
			{{ form.hidden_tag() }}

			{{ form.title.label }}
			{{ form.title }} {% for message in form.title.errors %}<div class="text-warning">{{ message }}</div>{% endfor %}

			{{ form.body.label }}
			{{ form.body }} {% for message in form.body.errors %}<div class="text-warning" >{{ message }}</div>{% endfor %}
			
			{{ form.tags.label }}
			{{ form.tags }} 
			
			<br>
			<input class="btn btn-primary" type="submit" value="Submit">
		</form>
	</div>
</div>